.Search {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.Search-left {
  border: 1px solid red;
  width: auto;
  padding: 10px;
}
.Search-right {
  width: 50%;
  border: 1px solid red;
  padding: 10px;
}

.card {
  background-color: rgb(140, 160, 180);
  color: white;
  padding: 1rem;
  height: auto;
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
}

@media (max-width: 764px) {
  .Search {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

.Search-left {
  width: 100%;
  height: 100%;
}
.Search-right {
  width: 100%;
  height: 40%;
  }
}

